.contact-links {
  display: flex;
  justify-content: space-between;
}

.contact {
  background-color: #333;
  padding: 40px 0px 40px 0px;
  color: #ffffff;
}

.contact h2 {
  border-bottom: 3px solid white;
  width: fit-content;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.contact > div {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.contact-links > div {
  display: flex;
  flex-direction: column;
}
.contact-links img {
  margin-right: 15px;
}
.contact-links > div > div {
  display: flex;
}

.contact .btn {
  transition: transform 0.3s ease-in-out;
  margin-bottom: 15px;
}
.contact .btn:hover {
  transform: scale(1.05);
}
.contact a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 1000;
}
