.projects {
  width: 100%;
  padding: 80px 0 80px 0;
}

@media (max-width: 825px) {
}

.projects-title {
  border-bottom: 3px solid;
  width: fit-content;
  margin-bottom: 20px;
  padding-bottom: 5px;
  margin: 0 auto 30px auto;
}
