.skills {
  background-color: rgb(241, 241, 241);
  padding: 80px 0px 60px 0px;
  margin-top: 0;
  width: 100%;
}
.skills > div {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.skill-header {
  display: flex;
  gap: 10%;
  border-bottom: 3px solid;
  margin-bottom: 40px;
}

.skill-icon {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}
.left-side,
.right-side {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.left-side > div,
.right-side > div {
  display: grid;
  justify-items: center;
}
.skill-icon > div h3 {
  padding-bottom: 5px;
  border-bottom: 2px solid;
}
.front-end-icons {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 20px;
}
.back-end-icons,
.development-tools-icons,
.design-tools-icons {
  display: grid;
  column-gap: 20px;
}

.front-end-icons > div,
.back-end-icons > div,
.development-tools-icons > div,
.design-tools-icons > div {
  display: grid;
  justify-items: center;
  padding-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
.front-end-icons > div:hover,
.back-end-icons > div:hover,
.development-tools-icons > div:hover,
.design-tools-icons > div:hover {
  transform: scale(1.1);
}

.skills h4 {
  margin-bottom: 5px;
}

.front-end,
.back-end,
.development-tools,
.design-tools {
  background-color: white;
  border-radius: 15px;
  padding: 15px;
}

.front-end,
.development-tools {
  width: 170px;
}

.back-end,
.design-tools {
  width: 115px;
}

@media (max-width: 825px) {
  .skill-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skill-header h2 {
    padding-bottom: 5px;
  }
  .skill-icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 100px;
    align-items: flex-start;
  }
}
