.about img {
  max-width: 350px;
  height: auto;
  padding: 20px;
  flex: 1 0 0;
}
.about div {
  min-width: 350px;
  flex: 2;
}
.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
